body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #111111;
}
h1{
    color: #ffffff;
    font-size: 3em;
    margin: 20px 0;
}
p{
    color: #bbbbbb;
    font-size: 1.2em;
    margin: 10px 0 30px 0;
}

button{
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #3dd08c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
img{
    max-width: 600px;
    height: auto;
}
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    img{
        max-width: 400px
    };
}